graft licenses/
include superset-frontend/package.json
recursive-include superset/examples *
recursive-include superset/migrations *
recursive-include superset/templates *
recursive-include superset/translations *
recursive-include superset/static *
